.primer-ejercicio{
    
    width: 320px;
    height: 100px;
    border: #1d1d1d 2px solid;
    text-align: center;
    margin-top: 10px;
    margin-left: 40%;
    font-size: larger;
    background: #5c5c5c;
    color: white;  
}
.segundo-ejercicio{
    width: 320px;
    height: 150px;
    border: #1d1d1d 2px solid;
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
    font-size: larger;
    background: #5c5c5c;
    color: white;  
}
.tercer-ejercicio{
    width: 320px;
    height: 150px;
    border: #1d1d1d 2px solid;
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
    font-size: larger;
    background: #5c5c5c;
    color: white;  
}

.cuarto-ejercicio{
    width: 320px;
    height: 150px;
    border: #1d1d1d 2px solid;
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
    font-size: larger;
    background: #5c5c5c;
    color: white; 
}

.quinto-ejercicio{

    width: 500px;
    height: 350px;
    border: #1d1d1d 2px solid;
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
    font-size: larger;
    background: #5c5c5c;
    color: white; 

}
